<div class="footer">
    <div class="email">
        <span>email address: ula122002@gmail.com</span>
    </div>
    <div class="social-icons">
        <a href="#"><img src="/images/telegram.png" alt="Telegram"></a>
        <a href="https://vk.com/id210935386"><img src="/images/vk.png" alt="VK"></a>
        <a href="#"><img src="/images/inst.png" alt="Instagram"></a>
    </div>
  </div>