<header>
  <nav>
    <div>PORTFOLIO</div> 
    <div class="menu">
      <a href="http://localhost:3000/">ABOUT ME</a>
      <a href="http://localhost:3000/projects">PROJECTS</a>
      <a href="http://localhost:3000/contacts">CONTACT</a>
    </div> 
  </nav>
</header>