<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&family=Vollkorn&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body class="container contacts">
    <%- include('./partials/header.ejs'); %> <!-- Подключаем header -->
    <main>
        <div>
            <h2>contacts</h2>
            <table>
                <tbody>
                  <tr>
                    <td>email address: </td>
                    <td>ula122002@gmail.com</td>
                  </tr>
                  <tr>
                    <td>telephone number: </td>
                    <td>+7 (999) 999 9999</td>
                  </tr>
                  <tr>
                    <td>based in: </td>
                    <td>Tomsk, Russia</td>
                  </tr>
                </tbody>
              </table>
          </div>
    </main>
</body>
</html>